@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/OpenSans-Regular-webfont.woff2') format('woff2'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


 html { scroll-behavior: smooth; }
body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
   color: #333;
  background-color: #edf0f0;
  font-size: 14px;
  line-height: 22px;
  overflow-x:hidden;
}

a:hover,
a:focus {
  color: #253138;
  outline: none;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6,p,ul{margin:0; padding:0;}

.p-t-20 {
	padding-top: 2em;
}

.p-t-50 {
  padding-top: 5em;
}
.list-none {
  list-style: none;
}
pre.pre-css {
    background-color: #F7F7F9;
    padding: 10px;
    border: 1px solid #E1E1E8;
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    font-size: 18px;
    font-weight: bold;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background: #fff;
    box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.5);
}

.navbar-light .navbar-nav .nav-link {
    color: #333;
}

.navbar-default {
	border: none;
  margin-bottom: 0px;
  background: #7474BF;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
  border-radius: 0px;
	padding-top: 20px;
  padding-bottom: 20px;
}

.page-content{margin:100px  0 0 0;}
 .content{    background: #fff;
    padding: 20px 40px;}
 
 .list{    margin: 10px 0 20px 20px;}
 .list li{margin: 0 0 5px 0;}
 
 .credit-heading{margin: 20px 0 0 0;
    font-size: 18px;}

.page-header {
   padding: 70px 0 10px 0px;
    border-bottom: 1px solid #eee;
    font-weight: 700;
    margin: 0 0 15px 0;
}

.sub-heading{
    padding: 10px 0 10px 15px;
    border-bottom: 1px solid #eee;
    font-weight: 500;
    margin: 20px 0 15px 0;
    font-size: 20px;
    background: #e2e2e2;
}

p img{
	    border: 5px solid #f7f7f9;
    padding: 10px;
    margin: 0 0 15px 0;
}
